@{
    ViewBag.Title = "Cliente";
}

<div class="container-fluid">
    <div class="hero row align-items-center">
        <div class="col-lg-5 col-md-6">
            <div class="about-img">
                <h2 class="fa-5x">Cliente</h2>
            </div>
        </div>
        <div class="col-lg-7 col-md-6">
            <div class="about-text">
                <div class="form">
                    <h2>Datos de cliente</h2>
                    <form action="~/CarCenter/RegistroCliente" method="post">
                        <div class="hero row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <input class="form-control mt-2 fa-2x" type="text" name="pri_nombre" placeholder="Primer nombres" value="">
                                <input class="form-control mt-2 fa-2x" type="text" name="pri_apellido" placeholder="Primer apellido" value="">
                                <div class="control-group">
                                    <select class="custom-select mt-2 fa-2x" name="tipo_doc">
                                        <option selected>Tipo documento</option>
                                        @foreach (var item in (List<SelectListItem>)ViewData["TiposDocumentos"])
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                        <!-- @Html.DropDownList("tipo_doc", (List<SelectListItem>)ViewData["TiposDocumentos"]) -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <input class="form-control mt-2 fa-2x" type="text" name="seg_nombre" placeholder="Segundo nombres" value="">
                                <input class="form-control mt-2 fa-2x" type="text" name="seg_apellido" placeholder="Segunda apellido" value="">
                                <input class="form-control mt-2 fa-2x lb-number" type="number" maxlength="12" name="num_doc" placeholder="Nro. Documento" value="">
                                <!-- <textarea class="form-control" placeholder="Comment"></textarea> -->
                            </div>

                            <div class="col-lg-7 col-md-6">
                                <div class="control-group">
                                    <select class="custom-select mt-2 fa-2x" name="tipo_servicio">
                                        <option selected>Tipo servicio</option>
                                        @foreach (var item in (List<SelectListItem>)ViewData["TipoServicios"])
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                        <!-- @Html.DropDownList("tipo_servico", (List<SelectListItem>)ViewData["TipoServicios"]) -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <input class="form-control mt-2 fa-2x" type="number" id="presupuesto" name="presupuesto" placeholder="Presupuesto" value="0,00">
                            </div>
                        </div>
                        <input class="form-control mt-2 fa-2x" type="text" name="correo" placeholder="Correo" value="">
                        <input class="form-control mt-2 fa-2x" type="number" name="celular" placeholder="Celular" value="">
                        <input class="form-control mt-2 fa-2x" type="text" name="direccion" placeholder="Dirección" value="">
                        <!-- <button type"submit" class="btn bg-success fa-2x mt-4">@Html.ActionLink("Ingresar cliente", "RegistroCliente", "CarCenter", new { })</button> -->
                        <button type"submit" class="btn bg-success fa-2x mt-4">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
@Html.Partial("~/Views/CarCenter/DetalleCliente.cshtml")
